<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>loginPage</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		<style type="text/css">.top { margin-bottom: 10px; }</style>
		<script src="../javascripts/createRoom.js"></script>

		
	</head>
	<body>

		<script type="text/javascript">

			sendVerify();
			window.onload = function(){
				document.getElementById('welcome').innerHTML = "welcome " + getCookie('username');
				console.log(getCookie("username"));
			}

		</script>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
		  <div class="container">
		    <a class="navbar-brand" href="#">
		          <img src="http://placehold.it/150x50?text=Logo" alt="">
		        </a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
		          <span class="navbar-toggler-icon"></span>
		        </button>
		    <div class="collapse navbar-collapse" id="navbarResponsive">
		      <ul class="navbar-nav ml-auto">
		        <li class="nav-item active">
				  <a href="http://203.204.231.25:3000/users"
		           class="nav-link" href="#">Home
		                <span class="sr-only">(current)</span>
		              </a>
		        </li>    
		        <li id="welcome" style="padding-left: 10%" class="navbar-text">
    				welcome&nbsp;
  				</li>
  				<li style="padding-left: 20%"class="nav-item">
		          <a onclick="logout()" id="logout" class="nav-link" href="#">logout</a>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
		

		<div style="padding-left: 15%">
			<div style="padding-top:150px ">
				<h2><span  class="badge col-md-2 offset-md-4 ">CREATE A CHAT ROOM</span></h2>
			</div>
		</div>
		<div style="padding-left: 8% ">	
			<div style="padding-top: 30px" class=""></div>
				<form action="" class="" name="loginForm" onsubmit="">
			  		<div class="form-group">
		    			<input type="text" class="col-lg-3 form-control offset-md-4 bg-light" id="chatRoomName" aria-describedby="emailHelp" placeholder="Enter ChatRoom Name">
		  			</div>
		  			<div class="form-group">
		    			<input class="offset-md-4" type="checkbox" class="form-check-input" id="passWordNeeded" onclick="passWordNeed()">
		    			<label class="form-check-label" for="exampleCheck1">private</label>
					  </div>	  
					  <input style="display:none" type="text" class="col-lg-3 form-control offset-md-4 bg-light" id="roomPassword" placeholder="Enter ChatRoom password">
		  			<button style="margin-top: 2%" type="submit" class="col-lg-3 btn btn-primary offset-md-4" onclick="send_outCreateRoomForm()">Submit</button>
				</form>
				<div style="padding-top: 1%">
					<a style="padding-left: 44.5%" href="roomList">go back</a>
				</div>
			</div>
		</div>
	</body>
</html>